{% extends './base.html' %}

{% block content %}
    <div class="h-fit min-h-[92dvh] flex items-center justify-center">
        <div class="flex flex-col items-center gap-y-5">
            <h1 class="text-5xl uppercase"><span class="font-bold text-blue-600">Studybuddy:</span> your note taking app</h1>
            <p class="w-2/3 text-center text-xl">The goal of the study is to provide insight into the creation of educational materials that promote collaboration as well as sharing information by including StudyBuddy into the learning ecosystem.</p>
        </div>
    </div>
{% endblock %}